body {
    background-color: darkred
}
/* Estilo para los encabezados */
h1 {
    
    color: rgb(224, 174, 248);
    font-size: 4rem;
    text-align: center;
    }

/* Estilo para los párrafos */
p {
    margin: 1,5rem;
    margin-left: 2rem;
    color: salmon;
    font-size: 1,25rem;
    }

/* Estilo para los enlaces */
a {
    color: #ff9900;
    text-decoration: none;
}